.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 50px 0;
}

.item {
    background-color: rgb(235, 235, 235);
    margin: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(218, 218, 218);
    align-items: center;
}

.text_block {
    display: flex;
    width: 80%;
    align-items: center;
}

.status_block {
    display: flex;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.item_line {
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.round_red {
    width: 25px;
    height: 25px;
    border: 2px solid red;
    border-radius: 50%;
    background: mistyrose;
}

.round_green {
    width: 25px;
    height: 25px;
    border: 2px solid rgb(0, 255, 149);
    border-radius: 50%;
    background: rgba(220, 244, 233, 0.735);
}

@media screen and (max-width: 650px) {
    .item {
        width: 80%;
    }

    .text_block {
        width: 75%;
        flex-wrap: nowrap;
    }

    .round_green,
    .round_red {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 650px) {
    .status_block button {
        width: 40px;
        height: 30px;
        font-size: 12px;
        /* margin: auto; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
